*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    position: fixed;
    inset: 0;
    touch-action: none;
}
body{
    position: fixed;
    inset: 0;
    background-color: #4fc4f7
}

@media (orientation: portrait) {
    body{
        background: linear-gradient(
                to bottom,
                #4fc4f7 50%,
                #bf360c 50%
        );
    }
}

.canvas-container{
    position: relative;
}

.flashBack{
    position: fixed;
    inset: 0;
    background: #fff;
    pointer-events: none;
    opacity: 0;
}

