*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    position: fixed;
    inset: 0;
    background: #4fc4f7;
}

.canvas-container{
    position: relative;
}